@import url('https://fonts.googleapis.com/css?family=Lora|PT+Sans&display=swap');
body {
    background-color: #101820;
    color: rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
}

h1,
h2 {
    color: rgb(255, 182, 18);
    font-family: 'Lora', serif;
}

h2 {
    /* border-bottom: 2px solid rgb(255, 182, 18);*/
}

th {
    color: rgb(255, 182, 18);
}


/*tbody {
    border: 3pt solid rgb(255, 182, 18);
}*/


/*this is the A tag within nav*/


/*
nav a {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 1em;
}

nav a:hover {
    color: rgb(255, 182, 18);
}
*/

p {
    margin-left: 2em;
}


/*generic class*/


/*relative float positioning*/


/*turn off the footer*/

h2,
footer {
    clear: both;
}

br {
    clear: both;
}