@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap');
body {
    background-color: #101820;
    color: rgb(255, 182, 18);
    font-family: 'Lato', sans-serif;
}

a {
    color: rgb(255, 255, 255);
}


/*
<!-- HTML will kill CSS -->
//this does not work :(
a tags contained within nav tag

*/

nav a {
    color: rgb(165, 172, 175);
    width: 16%;
    display: inline-block;
    text-align: center;
    height: 3em;
    vertical-align: center;
    border: 1pt solid rgb(165, 172, 175);
    border-radius: 15pt;
    padding-top: 1.5em;
    /*em is size of letter M */
    padding-bottom: 0;
}


/*fire when the mouse is over the link*/

nav a:hover {
    text-decoration: none;
    /*turn off underline*/
    font-size: 1.5em;
}

h1,
h2 {
    color: #ffffff;
    /*font-family: "impact", "sans-serif";*/
    /*name of desired font, default */
    font-family: 'Roboto Slab', serif;
}


/*pseudo class*/


/*
a:visited {
    color: rgb(255, 255, 255);
}
*/


/*tag level class*/


/*classes are reusable CSS formats*/

img.imgLeft {
    float: left;
    /* be to the left of _whatever_ follows*/
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    border: 1pt solid rgb(165, 172, 175);
    border-radius: 15pt;
}

img.imgRight {
    float: right;
    /* be to the left of _whatever_ follows*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    border: 1pt solid rgb(165, 172, 175);
    border-radius: 15pt;
}


/*generic class
usable by all HTML objects
.whateverName
apply with class attribute in any HTML object
*/

.emphasize {
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(165, 172, 175);
}


/*turn off the float attribute using clear*/

h2,
footer {
    clear: both;
}