@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap');
body {
    background-color: #101820;
    color: rgb(255, 182, 18);
    font-family: 'Lato', sans-serif;
}

a {
    color: rgb(255, 255, 255);
}


/*
<!-- HTML will kill CSS -->
//this does not work :(
a tags contained within nav tag

*/

nav a {
    color: rgb(165, 172, 175);
    width: 16%;
    display: inline-block;
    text-align: center;
    height: 3em;
    vertical-align: center;
    border: 1pt solid rgb(165, 172, 175);
    border-radius: 15pt;
    padding-top: 1.5em;
    /*em is size of letter M */
    padding-bottom: 0;
}


/*fire when the mouse is over the link*/

nav a:hover {
    text-decoration: none;
    /*turn off underline*/
    font-size: 1.5em;
}

h1,
h2 {
    color: #ffffff;
    /*font-family: "impact", "sans-serif";*/
    /*name of desired font, default */
    font-family: 'Roboto Slab', serif;
}


/*pseudo class*/


/*
a:visited {
    color: rgb(255, 255, 255);
}
*/